@model ChangePasswordVm
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="section-header">
        <h1>Cài đặt</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Người dùng</a></div>
            <div class="breadcrumb-item">
                @ViewData["Title"]
            </div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/account/ChangePassword">
                            <div class="row">

                                <div class="col-12">
                                    <h6>@ViewData["Title"]</h6>
                                    <div class="form-group mb-4">
                                        <label class="">Mật khẩu cũ</label>
                                        <div class="">
                                            
                                            <input asp-for="OldPassword"  placeholder="Nhập mật khẩu cũ" class="form-control" />
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="">Mật khẩu mới</label>
                                        <div class="">
                                            <input asp-for="NewPassword" placeholder="Nhập mật khẩu người dùng" class="form-control" />
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="">Xác nhận mật khẩu</label>
                                        <div class="">
                                            <input asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-4 col-lg-4"></label>
                                <div class="buttons col-sm-12 col-md-8">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <button type="submit" class="btn btn-info btn-lg btn-icon btn-setting"><i class="fas fa-check"></i>Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
